header {
  background-color: blue;
  /* border: 2px solid blue; */
  width: 100%;
}

nav {
  background-color: pink;
  display: flex;
  height: 3rem;
}

.cont1 {
  background-color: red;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont2 {
  background-color: green;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont2 > ul {
  width: 100%;
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
}

.cont2 > ul > li {
  text-decoration: none;
  list-style-type: none;
}

.cont2 > ul > li > button {
  font-size: 1rem;
}
