header {
  background-color: blue;
  /* border: 2px solid blue; */
  width: 100%;
}

nav {
  background-color: pink;
  display: flex;
}

.cont1 {
  background-color: red;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont2 {
  background-color: green;
  width: 80%;
}

.cont2 > ul {
  display: flex;
  justify-content:space-around;
}

.cont2 > ul > li{
  text-decoration: none;
  list-style-type: none;

}
