/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* background: #10182f; */
  border-radius: 6px;
  padding: 0.3rem;
}

.footer .footer-row {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 1rem; */
  /* padding: 0.3rem; */
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0.2rem;
}
.footer-col .links {
  /* margin-top: 3px; */
  margin-bottom: 0;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 2px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
  font-size: 0.8rem;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 2px 0;
  color: #bfbfbf;
}
.footer-col form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid blue;
  margin: auto;
}
.footer-col > form > input {
  height: 0.2rem;
  width: 30%;
  margin: 0;
}

.footer-col input::placeholder {
  color: #c0bcbc;
}

.footer-col > form > button {
  background: #f65d5d;
  border: none;
  height: 2rem;
  cursor: pointer;
  width: 40%;
  margin: 0;
  padding: 0;
}
.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  display: flex;
  margin-top: 6px;
  gap: 20px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover {
  color: #fff;
}
