.container {
  border: 3px solid black;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container > h1 {
  text-align: center;
  font-size: 1.2rem;
  color: #0f1111;
  margin-bottom: 0.5rem;
}

.container > .container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.container > .container1 > .container1_a {
  width: 20%;
  margin-bottom: 1rem;
  border-radius: 10px;
  /* //!doubt  */
  height: 17rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container > .container2 {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.container > .container2 > button {
  text-align: center;
  background-color: #ffd814;
  font-size: 0.8rem;
  border-radius: 10px;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}
