.signup_btn {
  background-color: rgb(232, 231, 152);
  height: 2rem;
  width: 5rem;
  color: black;
  margin: 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  font-weight: 900;
}

.signup_btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
